<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td colspan="5" height="10"></td>
    </tr>
    <tr>
    <td height="38">&nbsp;</td>
    <td width="10" background="<%= asset_path( 'f1.png' ) %>"></td>
    <td width="985" align="center" background="<%= asset_path( 'fm.png' ) %>" class="fpag">© Copyright 2012 Smart Technology S.A.C. - Av. Los Fresnos 1589 - Piso 2 Urb. Portada del Sol - LA MOLINA - Lima - Perú | Todos los derechos reservados</td>
    <td width="10" background="<%= asset_path( 'f2.png' ) %>"></td>
    <td>&nbsp;</td>
    </tr>
    <tr>
    <td colspan="5" height="10"></td>
    </tr>
</table>