<table width="100%" border="0" cellspacing="0" cellpadding="0" height="26">
  <tr>
	    <td height="2" <% if request.fullpath=='/' %>bgcolor="#DD4B39"<% end %> width="100"></td>
		<td height="2" width="100"></td>
		<td height="2" <% if request.fullpath=='/descargas.php' %>bgcolor="#DD4B39"<% end %> width="100"></td>
		<td height="2" width="100"></td>
		<td height="2"></td>
		<td height="2" width="100"></td>
      </tr>
  <tr>
    <td height="24" align="center"><a href="." style="text-decoration:none" class="bmenu tmenu" onmouseover='this.style.background="#4C4C4C"' onmouseout='this.style.background=""' >Inicio</a></td>
	<td height="26" width="100" align="center"><a href="#" class="bmenu nmenu" onmouseover='this.style.background="#4C4C4C"' onmouseout='this.style.background=""'   style="text-decoration:none">Servicios</a></td>
	<td height="26" width="100" align="center"><a href="descargas.php" class="bmenu nmenu" onmouseover='this.style.background="#4C4C4C"' onmouseout='this.style.background=""'   style="text-decoration:none">Descargas</a></td>
	<td height="26" width="100" align="center"><a href="contactenos.php" class="bmenu nmenu" onmouseover='this.style.background="#4C4C4C"' onmouseout='this.style.background=""'   style="text-decoration:none">Cont&aacute;ctenos</a></td>
	<td height="26"  align="center">&nbsp;</td>
	<td height="26" width="100" align="center"><a href="#" class="bmenu nmenu" onmouseover='this.style.background="#4C4C4C"' onmouseout='this.style.background=""' onclick="logg()"  style="text-decoration:none">Acceder</a></td>
  </tr>
</table>