<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td colspan="19" bgcolor="#FFFFFF" height="1"></td>
    </tr>
    <tr>
    <td width="10" height="10" bgcolor="#EDEFF4"></td>
    <td width="50" bgcolor="#EDEFF4"></td>
    <td width="16" bgcolor="#EDEFF4"></td>
    <td bgcolor="#EDEFF4"></td>
    <td bgcolor="#EDEFF4" width="10"></td>
    <td rowspan="3" bgcolor="#FFFFFF" width="1"></td>
    <td rowspan="3" bgcolor="#CAD4E7" width="1"></td>
    <td bgcolor="#EDEFF4" width="10"></td>
    <td bgcolor="#EDEFF4" width="50"></td>
    <td bgcolor="#EDEFF4" width="16"></td>
    <td bgcolor="#EDEFF4"></td>
    <td bgcolor="#EDEFF4" width="10"></td>
    <td rowspan="3" bgcolor="#FFFFFF" width="1"></td>
    <td rowspan="3" bgcolor="#CAD4E7" width="1"></td>
    <td bgcolor="#EDEFF4" width="10"></td>
    <td width="50" bgcolor="#EDEFF4"></td>
    <td width="16" bgcolor="#EDEFF4"></td>
    <td bgcolor="#EDEFF4"></td>
    <td bgcolor="#EDEFF4" width="10"></td>
    </tr>
    <tr>
    <td bgcolor="#EDEFF4">&nbsp;</td>
    <td valign="top" bgcolor="#EDEFF4"><img src="<%= asset_path( 'pp1.png' ) %>" width="50" height="50" /></td>
    <td bgcolor="#EDEFF4">&nbsp;</td>
    <td valign="top" bgcolor="#EDEFF4"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
        <td style="font-family: Arial, Helvetica, sans-serif"><span class="tentrada">Desarrollo de Proyectos de Investigación</span><br><span class="centrada">Nos especializamos en el desarrollo de proyectos de investigación: Convertimos sus ideas en productos concretos.</span></td>
        </tr>
        <tr>
        <td></td>
        </tr>
    </table></td>
    <td bgcolor="#EDEFF4">&nbsp;</td>
    <td bgcolor="#EDEFF4">&nbsp;</td>
    <td valign="top" bgcolor="#EDEFF4"><img src="<%= asset_path( 'pp2.png' ) %>" width="50" height="50" /></td>
    <td bgcolor="#EDEFF4">&nbsp;</td>
    <td valign="top" bgcolor="#EDEFF4"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
        <td valign="top" style="font-family: Arial, Helvetica, sans-serif"><span class="tentrada">Hosting con valor agregado</span><br><span class="centrada">Ofrecemos servicios de Hosting especializados en salvaguardar su información, y transmitirla de manera segura.</span></td>
        </tr>
        <tr>
        <td></td>
        </tr>
    </table></td>
    <td bgcolor="#EDEFF4">&nbsp;</td>
    <td bgcolor="#EDEFF4">&nbsp;</td>
    <td valign="top" bgcolor="#EDEFF4"><img src="<%= asset_path( 'pp3.png' ) %>" width="50" height="50" /></td>
    <td bgcolor="#EDEFF4">&nbsp;</td>
    <td valign="top" bgcolor="#EDEFF4"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
        <td valign="top" style="font-family: Arial, Helvetica, sans-serif"><span class="tentrada">Asesoramiento en Nuevas Tecnologías</span><br><span class="centrada">Buscamos difundir nuevas tecnologías que permitan mejorar la productividad de su empresa.</span></td>
        </tr>
        <tr>
        <td></td>
        </tr>
        </table>
    </td>
    <td bgcolor="#EDEFF4">&nbsp;</td>
    </tr>
    <tr>
    <td bgcolor="#EDEFF4" height="8"></td>
    <td bgcolor="#EDEFF4"></td>
    <td bgcolor="#EDEFF4"></td>
    <td bgcolor="#EDEFF4"></td>
    <td bgcolor="#EDEFF4"></td>
    <td bgcolor="#EDEFF4"></td>
    <td bgcolor="#EDEFF4"></td>
    <td bgcolor="#EDEFF4"></td>
    <td bgcolor="#EDEFF4"></td>
    <td bgcolor="#EDEFF4"></td>
    <td bgcolor="#EDEFF4"></td>
    <td bgcolor="#EDEFF4"></td>
    <td bgcolor="#EDEFF4"></td>
    <td bgcolor="#EDEFF4"></td>
    <td bgcolor="#EDEFF4"></td>
    </tr>
    <tr>
    <td colspan="19" bgcolor="#D2D9E7" height="1"></td>
    </tr>
</table>